

<h1 style="text-align: center">{{title}}</h1>
<select>
	<option *ngFor="let i of months">{{i}}</option>
</select>
<h2 Redcolor>I AM USING DIRECTIVE</h2>
<div *ngIf="visible; then even else odd ">this is true</div>
<button (click)="addChange()">Change Button</button>
<ng-template #even>this is even </ng-template>
<ng-template #odd>this is odd </ng-template>
<br>
<br>

<a routerLink="/about" routerLinkActive="active">About</a>
<a routerLink="/service" routerLinkActive="active">Service</a>
<a routerLink="/contact" routerLinkActive="active">Contact</a>
<router-outlet></router-outlet>



